@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  overflow: auto;
}

.header {
  color: white;
  padding: 1rem 1rem 1rem;
  background-color: rgb(255, 90, 95);
}

.map {
  float: right;
  box-sizing: border-box;
  width: 60%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}