@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  overflow: auto;
}

.header {
  color: white;
  padding: 1rem 1rem 1rem;
  background-color: #F43D4C;
}

.map {
  float: right;
  box-sizing: border-box;
  width: 60%;
}

.restaurant {
  float: left;
  box-sizing: border-box;
  width: 40%;
  padding: 1rem 1rem 1rem;
}

.restHeader {
  color: #F43D4C;
  margin-bottom: 1rem;
}

.card {
  box-sizing: border-box;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  /* background-color: #F4F3EF; */
}

.search {
  
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}